@model IEnumerable<Bug>

@if (Model.Any())
{
    <div class="card">
        <div class="card-header border-transparent bg-warning">
            <h3 class="card-title">My Verify Queue</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0" style="display: block;">
            <div >

                <!-- insert table here -->
                <table class="table m-0 table-hover">
                    <thead>
                        <tr>
                            <th scope="col"> Issue </th>
                            <th scope="col"> Project </th>
                            <th scope="col"> Issue Summary </th>
                        
                        </tr>
                    </thead>
                    @foreach (var bug in Model)
                    {


                        <tbody>
                            <tr 
                                 onclick=" return showInPopup('@Url.Action("Details", "Tester", new { id = @bug.Id }, Context.Request.Scheme)','@bug.Title')"
                                >
                                <td>@bug.Title</td>
                                <td>@bug.ProjectTitle</td>
                                <td>@bug.Summary</td>

                            </tr>
                        </tbody>


                    }
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix" style="display: block;">
            <!-- button for furhter -->

            @if (ViewBag.page == true)
            {
                <span class="float-left font-italic text-muted"> (Only showing latest records)</span>
                <a asp-action="VerifyQueue" asp-controller="tester"
                   class="btn btn-sm btn-info float-right">View All</a>
            }


        </div>
        <!-- /.card-footer -->
    </div>


   
}
else
{
    <div class="card">
        <div class="card-header bg-warning">
            My Verify Queue
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <!-- edit for no blank -->
                <p> Hurray No Issues to Verify</p>

            </blockquote>
        </div>
    </div>
}   